h1{
    display: flex;
    justify-content: center;
}

h4{
    display: flex;
    justify-content: center;
}

img{
    display: flex;
     justify-content: left;
    height: 100px;
    width: 150px;
    margin-left: 50px;
}


body{
    background-color: #11A9FF;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpolygon fill='%231198ee' points='1600 160 0 460 0 350 1600 50'/%3E%3Cpolygon fill='%231287dd' points='1600 260 0 560 0 450 1600 150'/%3E%3Cpolygon fill='%231275cc' points='1600 360 0 660 0 550 1600 250'/%3E%3Cpolygon fill='%231364bb' points='1600 460 0 760 0 650 1600 350'/%3E%3Cpolygon fill='%231353AA' points='1600 800 0 800 0 750 1600 450'/%3E%3C/g%3E%3C/svg%3E");
    background-attachment: fixed;
    background-size: cover;
justify-content: center;
display: flex;
}

.volver {
    margin-left: 5px;
    margin-top: 5px;
}

.contenedor{
    display: grid;
    width: 70%;
    height: auto;
    grid-template-columns: 5px 3fr 5px;
    grid-template-rows: 3vh auto 10px;    
}


.fondo {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    color: black;
    border-radius: 20px;
}


#formu p{
    margin-left: 150px;
    margin-right: 100px;
    line-height: 1em;
    font-size: 0.875em
}

#formu #Correct{
   text-align: center;
}

#formu2{
  text-align: center;
  font-size:medium;
  font-style: italic;
}


#formu h6 {
    text-align: center;
}


a {
    font-weight: bold;
}


#final{
    display: none;
}

.log {
    display: flex;
    width: 100%;
    justify-content: center;
}
.logos {
    display: inline-grid;
    grid-template-columns: 2fr 2fr 2fr;
    grid-template-rows: 3fr 3fr;
    width: 100%;
    padding: 10px;
    align-items: center;
    grid-gap: 3px;
  justify-items: center;
}

.L{
    grid-column-start: 1;
    grid-column-end: 2;
    cursor: pointer;
}

.P {
    grid-column-start: 2;
    grid-column-end: 3;
    cursor: pointer;
}

.S {
    grid-column-start: 3;
    grid-column-end: 4;
    cursor: pointer;
}

.C {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    cursor: pointer;
}

.U {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    cursor: pointer;
}

.E {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    cursor: pointer;
}

.cuestion {
    display: flex;
justify-content: center;
margin-top: 40px;
}

.progress{
    width: 20%;
    margin: auto 0;
}

button {
    border-radius: 20px;
    position: relative;
    background-color: #96e3f5;
}

.bg-gradient {
    background-color: #00d2ff;
    background-image: linear-gradient(to right, #00d2ff 0%, #3a7bd5 100%);
    box-shadow: 2px 2px 10px rgba(57, 123, 213, 0.36)
}

.bold-label {
    font-weight: bold;
  }
  



